.todosList {
    font-family: 'Indie Flower', cursive;
    text-align: left;
    margin: auto;
    width: 60%;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;  
    background-color: rgb(255,255,191);  
}

.todoContent {
    font-size: 1.2rem;
    height: 100%;
    overflow: auto;
    overflow-wrap: break-word;
    background-color: rgb(255,255,191);
    padding-top: 1.2rem;
}

.dateTime {
    font-family: 'Roboto', sans-serif;
}