* {
    background-color: lightgray;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.todoHeader {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    text-align: center;
}

.todoWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.todosBody {    
    margin-top: 5rem;
    margin-bottom: 2rem;
    overflow: auto;    
}